# Git
.git
.gitignore

# Docker configuration (we only need the Dockerfile and scripts in context, not compose files)
docker-compose.yml
.env
.env.dist
Makefile
*.md
docs/

# Application and Data (Mounted as volumes, shouldn't be baked into the image)
mariadb_data/
docroot/

# Mac / OS specific
.DS_Store
*.swp
*~
