# System
PROJECT_NAME=project
TZ=Europe/Madrid
USER_ID=1000
GROUP_ID=1000

# PHP
PHP_VERSION=7.4
PHP_POST_MAX_SIZE=50M
PHP_UPLOAD_MAX_FILE_SIZE=10M
PHP_MEMORY_LIMIT=512M
PHP_MAX_EXECUTION_TIME=300

# Apache
APACHE_DOCUMENT_ROOT=/var/www/html/public
APACHE_PROXY_TIMEOUT=1800

# MariaDB
DB_HOST=dbhost
DB_NAME=dbname
DB_USER=dbuser
DB_PASS=dbpass
DB_ROOT_PASS=dbrootpass
DB_HOST_PORT=33999

# SFTP
SFTP_USER=sftpuser
SFTP_PASS=sftppass
SFTP_PORT=22999